.main-chat
  .main-header
    .main-header-left-box
      .main-header-left-box__group-name
        = @group.name
      .main-header-left-box__member-list
        Member:
        - @group.users.each do |user|
          = user.name
    .main-header-edit-button
      = link_to "Edit", edit_group_path(@group), class: "main-header-edit-button__text"
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .form-message
        .form-message-input-box
          = f.text_field :content, class: 'form-message-input-box__text-area', placeholder: 'type a message'
          = f.label :image, class: 'form-message-input-box__icon' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'form-message-input-box__icon__hidden'
        .form-message-send-button
          = f.submit 'Send', class: 'form-message-send-button__text'