.side-bar
  .side-header
    .side-header-box
      .side-header-box__user-name
        = current_user.name
      .side-header-box__icon
        = link_to new_group_path, class: "side-header-box__icon__format" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "side-header-box__icon__format" do
          = icon('fas', 'cog')
  .group-info
    .group-info__group-list
      .group-info__group-list__group-name
        techcamp
      .group-info__group-list__message
        まだメッセージがありません